body {
    background-color: #000;
}

p {
    color: #ffff;
}

.container h2 {
    color: #ffff;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    border-bottom: 2px solid#020fbd;
    padding-bottom: 15px;
}

.brand-header {
    padding-top: 15px;
}

.home {
    padding-top: 20px;
    padding-bottom: 15px;
}

#rodape {
    border-top: 2px solid #020fbd;
}

#rodape p{
    color: #ffff;
}